.closed {
  position: absolute;
  top: 0;
  left: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  transition: transform 600ms var(--timing-function);
  backdrop-filter: blur(6px);
}

.open {
  composes: closed;
  transform: translateX(-100%);
}

.header {
  background: var(--colour-green-400);
  color: var(--colour-green-700);
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 50px 0 50px -50px var(--colour-green-200), inset -50px 0 50px -50px var(--colour-green-200),
    var(--text-shadow-small), 0 8px 16px 0 var(--colour-green-300), 0 -8px 16px 0 var(--colour-green-300);
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: var(--timing-function);
  z-index: 1;
}

.upgrades {
  display: grid;
  gap: 8px;
  width: 100%;
  padding: 16px 0;
}

.description {
  padding: 0 16px;
  font-size: 1rem;
}

.close {
  width: 100%;
  line-height: 2;
  border: 0;
  background: transparent;
  background-color: var(--colour-green-400);
  font-family: var(--font-family);
  color: var(--font-colour-secondary);
  text-shadow: var(--text-shadow-normal);
  cursor: pointer;
  outline: none;
  vertical-align: top;
}

.close:hover {
  color: var(--font-colour-primary);
}
