.root {
  position: relative;
  height: 3rem;
  padding-left: 32px;
  padding-right: 16px;
  font-size: 1rem;
  text-shadow: var(--text-shadow-small);
}

.charges {
  color: var(--font-colour-secondary);
}

.trigger {
  transition: opacity 1500ms var(--timing-function);
  color: var(--colour-green-600);
  opacity: 1;
}

.root::before {
  position: absolute;
  top: 0;
  left: 8px;
  content: '>';
  font-size: 2rem;
  color: var(--colour-green-400);
}
