@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/PressStart2P-Regular.ttf');
}

:root {
  --colour-green-100: #010a09;
  --colour-green-200: #041816;
  --colour-green-300: #062724;

  --font-family: 'Press Start 2P', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Fira Sans', 'Helvetica Neue', Arial,
    sans-serif;

  --text-shadow: 0 3px 0 var(--colour-green-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: 8px; /* Pixel font must be scaled in 8px increments. */
  line-height: 1.5;
  color: #fafefe;
  text-shadow: var(--text-shadow);
  -webkit-font-smoothing: none;
}

*:not(button):not(a) {
  cursor: default;
}
