:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Fira Sans', 'Helvetica Neue', Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: 16px;
  color: #f1f1f1;
}
