@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

:root {
  --colour-green-100: #010a09;
  --colour-green-200: #041816;
  --colour-green-300: #062724;
  --colour-green-400: #0d534d;
  --colour-green-500: #147f76;
  --colour-green-600: #1aab9e;
  --colour-green-700: #2bdece;
  --colour-green-800: #bff5f0;
  --colour-green-900: #fafefe;
  --colour-crystal: #50bb87;
  --colour-feedback-match: greenyellow;
  --colour-feedback-partial: gold;
  --colour-feedback-mismatch: tomato;

  --font-colour-primary: var(--colour-green-900);
  --font-colour-secondary: var(--colour-green-700);
  --font-colour-tertiary: var(--colour-green-500);

  --font-family: 'Press Start 2P', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Fira Sans', 'Helvetica Neue', Arial,
    sans-serif;

  --text-shadow-normal: 0 3px 2px var(--colour-green-100);
  --text-shadow-small: 0 2px 2px var(--colour-green-100);

  --timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: default;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: 8px; /* Pixel font must be scaled in 8px increments. */
  line-height: 1.5;
  color: var(--font-colour-primary);
  text-shadow: var(--text-shadow-normal);
  -webkit-font-smoothing: none;
}

body {
  font-size: 2rem;
  overflow-x: hidden;
}

small {
  font-size: 1rem;
  text-shadow: var(--text-shadow-small);
}

a,
a *,
button,
button * {
  cursor: pointer;
}

abbr,
abbr * {
  cursor: help;
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}
