.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 32px;
}

.message,
.instructions {
  text-align: center;
}

.servers {
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
  text-shadow: var(--text-shadow-small);
}

.servers thead {
  background: var(--colour-green-400);
}

.servers th {
  padding: 0.5rem;
  color: var(--font-colour-primary);
  text-shadow: none;
  font-weight: normal;
}

.servers tr {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.servers td {
  vertical-align: top;
}

.servers td:first-child a,
.servers td:last-child {
  padding: 0.5rem;
}

.servers td a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.servers td a:hover {
  background-color: var(--font-colour-primary);
  color: var(--colour-green-300);
  text-shadow: none;
}

.servers .offline,
.noServers {
  color: var(--font-colour-tertiary);
}
