.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--colour-green-300);
  transition: filter 600ms var(--timing-function);
  will-change: filter;
}

.sanguinem {
  /* Override with Blood Magic theme. */
  composes: root;
  --colour-green-100: #0a0101;
  --colour-green-200: #180404;
  --colour-green-300: #270606;
  --colour-green-400: #530d0d;
  --colour-green-500: #7f1414;
  --colour-green-600: #ab1a1a;
  --colour-green-700: #de2b2b;
  --colour-green-800: #f5bfbf;
  --colour-green-900: #fefafa;
  --colour-crystal: #bb5050;

  --font-colour-primary: var(--colour-green-900);
  --font-colour-secondary: var(--colour-green-700);
  --font-colour-tertiary: var(--colour-green-500);

  --text-shadow-normal: 0 3px 2px var(--colour-green-100);
  --text-shadow-small: 0 2px 2px var(--colour-green-100);
}

.blur {
  composes: root;
  filter: brightness(50%);
}

.header {
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 50px 0 50px -50px var(--colour-green-200), inset -50px 0 50px -50px var(--colour-green-200),
    var(--text-shadow-small), 0 8px 16px 0 var(--colour-green-300), 0 -8px 16px 0 var(--colour-green-300);
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: var(--timing-function);
  z-index: 1;
}

.locked,
.suppressed,
.awake,
.incanting,
.conjuring,
.energizing {
  composes: header;
  margin-bottom: 16px;
}

.locked,
.suppressed,
.awake {
  background: var(--colour-green-400);
  color: var(--colour-green-700);
}

.incanting,
.conjuring,
.energizing {
  background: var(--colour-green-600);
  color: var(--colour-green-900);
}

.incantations::before {
  content: var(--studying);
  position: absolute;
  top: 32px;
  width: 100%;
  padding: 0.5rem 0;
  background: var(--colour-green-600);
  box-shadow: inset 50px 0 50px -50px var(--colour-green-200), inset -50px 0 50px -50px var(--colour-green-200),
    inset var(--text-shadow-small);
  font-size: 1rem;
  text-align: center;
  color: var(--font-colour-primary);
  z-index: 1;
}

.incantations {
  display: grid;
  gap: 8px;
  padding: 0 32px;
}

.spellsHeader {
  composes: header;
  margin-top: 16px;
  background: var(--colour-green-400);
  color: var(--colour-green-700);
}

.spellSlots {
  font-size: 1rem;
  vertical-align: text-bottom;
}

.spells {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 8px;
  height: 100%;
  padding: 16px 0;
  overflow-y: auto;
}

.actionsHeader {
  composes: header;
  background: var(--colour-green-400);
}

.action {
  width: 50%;
  height: 100%;
  border: 0;
  background: transparent;
  font-family: var(--font-family);
  color: var(--font-colour-secondary);
  text-shadow: var(--text-shadow-normal);
  cursor: pointer;
  outline: none;
  vertical-align: top;
}

.action:hover {
  color: var(--font-colour-primary);
}

.actionsHeader .action:first-of-type {
  border-right: 1px solid var(--colour-green-300);
}

.actionsHeader .action:last-of-type {
  border-left: 1px solid var(--colour-green-500);
}
