.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  justify-content: flex-start;
  height: 100%;
}

.header {
  margin-bottom: 16px;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 50px 0 50px -50px var(--colour-green-200), inset -50px 0 50px -50px var(--colour-green-200),
    var(--text-shadow-small);
  transition-property: background-color color;
  transition-duration: 300ms;
  transition-timing-function: var(--timing-function);
}

.suppressed,
.awake {
  composes: header;
  background: var(--colour-green-400);
  color: var(--colour-green-700);
}

.incanting {
  composes: header;
  background: var(--colour-green-600);
  color: var(--colour-green-900);
}

.incantations {
  display: grid;
  gap: 8px;
  padding: 0 32px;
}

.spellsHeader {
  composes: awake;
  margin-top: 16px;
  margin-bottom: 16px;
}

.spells {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 8px;
  height: 100%;
  overflow-y: auto;
}
