.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--colour-green-300);
  transition: filter 600ms var(--timing-function);
  will-change: filter;
}

.blur {
  composes: root;
  filter: brightness(50%);
}

.header {
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 50px 0 50px -50px var(--colour-green-200), inset -50px 0 50px -50px var(--colour-green-200),
    var(--text-shadow-small), 0 8px 16px 0 var(--colour-green-300), 0 -8px 16px 0 var(--colour-green-300);
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: var(--timing-function);
  z-index: 1;
}

.locked,
.suppressed,
.awake,
.incanting {
  composes: header;
  margin-bottom: 16px;
}

.locked,
.suppressed,
.awake {
  background: var(--colour-green-400);
  color: var(--colour-green-700);
}

.incanting {
  background: var(--colour-green-600);
  color: var(--colour-green-900);
}

.incantations {
  display: grid;
  gap: 8px;
  padding: 0 32px;
}

.spellsHeader {
  composes: header;
  margin-top: 16px;
  background: var(--colour-green-400);
  color: var(--colour-green-700);
}

.spells {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 8px;
  height: 100%;
  padding: 16px 0;
  overflow-y: auto;
}

.actionsHeader {
  composes: header;
  background: var(--colour-green-400);
}

.action {
  width: 50%;
  height: 100%;
  border: 0;
  background: transparent;
  font-family: var(--font-family);
  color: var(--font-colour-secondary);
  text-shadow: var(--text-shadow-normal);
  cursor: pointer;
  outline: none;
  vertical-align: top;
}

.action:hover {
  color: var(--font-colour-primary);
}

.actionsHeader .action:first-of-type {
  border-right: 1px solid var(--colour-green-300);
}

.actionsHeader .action:last-of-type {
  border-left: 1px solid var(--colour-green-500);
}
